.repeat-content{
    width: 800px;
    margin: 0 auto;
    clear: both;
    text-align: center;
}
.col-3{
    width: 33%;
    margin: 0.33px;
    float: left;
    background: #666;
    height: 200px;
    text-align: center;
}
.col-2{
    width: 49.67%;
    margin: 0.33px;
    float: left;
    background: #ccc;
    height: 120px;
    text-align: center;
}
.featurebox-filter-button{
    clear: both;
    width: 100%;
    text-align: center;
    margin-bottom: 120px;
}
.active{
    color: red;
}
.repeat-content .featurebox-parent{
    display: none;
}   